<html>
   <head>
        <!-- <script src="/js/poker.js"></script> -->
        <link rel="stylesheet" type="text/css" href="css/poker.css">
    </head>
    
	<form method="post" action="/poker">
    <body>
    	<%= "#{winner} #{@black.cards} #{@white.cards}" %>
    </body>
	</form>
</html>