body
{
  background-color: darkslategrey;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  color: white;
}

table
{
  width: 8rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}


.refresh {
  border-color: #d0433a;
  color: #d0433a;;
}

.refresh:hover {
  background-color: #d0433a;
  color: white;
}

.title
{
  font-family: 'Anton', sans-serif;
  color: #d0433a;
  font-size: 3rem;
}

.txtbox
{
  width: 7rem;
}

.white_hand {
  float: right;
}

.black_hand {
  float: left;
}
